<% if show_sign_in %>
<div class="jumbotron">
    <div id="signupPanel" class="panel panel-default panel-form center-vert pull-right">
    	<div class="panel-heading">
        	<h3 class="panel-title">Sign in with your CAT credentials</h3>
    	</div>
        <div class="panel-body">
	        <form id="signup" method="post" action="<%= href('/signup') %>">
	            <div class="form-group">
	            	<label for="username" class="sr-only">Your CAT username</label>
	                <input id="username" class="form-control" name="username" type="text" maxlength="20" placeholder="Your CAT username" autofocus />
	                <span class="help-block">You may set an alias later.</span>
	            </div>
	            <div class="form-group">
	            	<label for="password" class="sr-only">Your CAT password</label>
	                <input id="password" class="form-control" name="password" type="password" maxlength="75" placeholder="Your CAT password" />
	            </div>
	            <% if defined? @success %>
	            <% unless @success %>
	          	<p id="authError" class="text-danger">Incorrect username or password.</p>
	          	<% end end %>
	            <p class="text-danger">You must specify <span id="error"></span>.</p>
	            <button type="submit" class="btn btn-primary btn-block">Sign in to suggest an insult</button>
	        </form>
        </div>
    </div>
    <h1>Insult your fellow gnarwals with InsultBot.</h1>
    <p class="clearfix">Get help with InsultBot and contribute your homegrown insults.</p>
</div>
<% else %>
<div class="jumbotron landing<%= ' no-insults' if current_user.insults.count == 0 %>">
	<div id="submitInsultPanel" class="panel panel-default panel-form center-vert pull-right">
	    <div class="panel-body">
	        <form id="submitInsult" method="post" action="<%= href('/insult') %>">
	            <div class="form-group">
	                <label class="control-label" for="insult">Insult Suggestion</label>
	                <button id="insertNick" class="btn btn-default btn-xs pull-right" type="button">Insert nick placeholder</button>
	                <textarea id="insult" class="form-control clearfix" name="insult" rows="3" autofocus></textarea>
	                <span class="help-block"><span class="glyphicon glyphicon-warning-sign"></span> Your suggestions are moderated.</span>
	            </div>
	            <p id="error" class="text-danger">You must specify an insult.</p>
	            <button class="btn btn-primary btn-block" type="submit">Suggest an insult</button>
	        </form>
	    </div>
	</div>
	<h1>Insult your fellow gnarwals with InsultBot.</h1>
	<p class="clearfix">Get help with InsultBot and contribute your homegrown insults.</p>
</div>
<% if current_user.insults.count > 0 %>
<div class="container">
	<div class="inset panel panel-default">
		<h2>Your Insults</h2>
		<table id="insults" class="table table-striped" data-handle="<%= current_user.handle %>">
			<thead>
				<tr>
					<!-- Approved -->
					<td colspan="2">Insult</td>
					<td>Created</td>
					<!-- Edit/Delete -->
				</tr>
			</thead>
			<tbody>
				<% for @insult in current_user.insults_ordered_by_creation %>
				<tr data-insult-id="<%= @insult.id %>">
					<td class="fit-to-content"><span class="glyphicon <%= (@insult.approved) ? 'glyphicon-ok' : 'glyphicon-remove' %>" title="<%= (@insult.approved) ? 'Approved' : ((@insult.published) ? 'Denied' : 'Awaiting Approval') %>"></span></td>
					<td class="insult" data-insult="<%=@insult.insult %>"><%=insult @insult.insult %></td>
					<td class="fit-to-content"><%=date @insult.created_at %></td>
					<td class="fit-to-content"><button class="btn btn-sm btn-default not-editing edit">Edit</button><button class="btn btn-sm btn-danger not-editing delete" data-toggle="modal" data-target="#deleteModal">Delete</button><button class="btn btn-sm btn-primary editing save">Save</button><button class="btn btn-sm btn-default editing cancel">Cancel</button></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<!-- Delete Confirmation Dialog -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p>Are you sure you want to <strong>permanently</strong> delete this insult?</p>
			</div>
			<div class="modal-footer">
				<button id="delete" type="button" class="btn btn-danger">Delete</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
<% end %>
<% end %>
