<%
   num_insults = current_user.insults.count
   insult_count = current_user.insult_count
%>
<h1>Your Profile</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div id="profilePanel" class="panel panel-default">
        <div class="panel-heading"><h3>Account Settings</h3></div>
        <div class="panel-body">
          <form id="profile" data-id="<%= current_user.id %>" action="<%= href("/profile/#{current_user.id}") %>" method="post">
            <div class="form-group">
              <label>Username</label>
              <p class="form-control-static"><%= current_user.username %></p>
            </div>
            <div class="form-group">
              <label class="control-label" for="alias">Alias</label>
              <input id="alias" class="form-control" type="text" name="alias" placeholder="insultbot" value="<%= current_user.alias %>"/>
              <p class="help-block">An alias for your username, usually your IRC handle.</p>
            </div>
            <div class="form-group">
              <label class="control-label" for="email">Email</label>
              <input id="email" class="form-control" type="email" name="email" placeholder="insultbot@cat.pdx.edu" value="<%= current_user.email %>"/>
            </div>
            <p id="error" class="text-danger">You must specify an email address.</p>
            <button type="submit" class="btn btn-primary">Update Profile</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Insult Statistics</h3></div>
        <div class="panel-body">
          <% if num_insults == 0 %>
          <p>You have not submitted any insults.</p>
          <% else %>
          <div class="statistic">
            <span class="col-sm-12 col-md-7">Insults submitted:</span>
            <span class="col-sm-12 col-md-5"><%= "#{num_insults} #{num_insults == 1 ? 'insult' : 'insults'}" %></span>
          </div>
          <div class="statistic">
            <span class="col-sm-12 col-md-7">Insults used:</span>
            <span class="col-sm-12 col-md-5"><%= "#{insult_count} #{insult_count == 1 ? 'time' : 'times'}" %></span>
          </div>
          <% end %>
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading"><h3>Delete Account</h3></div>
        <div class="panel-body">
          <p>Deleting your account will delete <strong>all</strong> of your insults. Please be certain you wish to deprive your fellow gnarwals of your insults.</p>
          <button class="btn btn-default btn-default-danger" data-toggle="modal" data-target="#deleteAccountModal">Delete your account</button>
        </div>
      </div>
    </div>
  </div>
  <% awaiting_insults = Insult.awaiting_approval %>
  <% if current_user.admin and awaiting_insults.count > 0 %>
  <div class="row">
    <div class="col-xs-12">
      <h2>Administrative Tasks</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Insults Awaiting Approval</h3></div>
        <table id="insults" class="table table-striped" data-handle="<%= current_user.handle %>">
          <thead>
          <tr>
            <th>Insult</th>
            <th>Author</th>
            <th>Submitted</th>
            <!-- Approve/Disapprove -->
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <% awaiting_insults.each do |insult| %>
              <tr data-insult-id="<%= insult.id %>">
                <td class="insult"><%= insult insult.insult %></td>
                <td class="fit-to-content"><%= insult.user.handle %></td>
                <td class="fit-to-content"><%= date insult.created_at %></td>
                <td class="fit-to-content">
                  <button class="btn btn-sm btn-success approve">Approve</button>
                  <button class="btn btn-sm btn-danger disapprove">Disapprove</button>
                  <button class="btn btn-sm btn-danger delete" title="Delete" data-toggle="modal" data-target="#deleteInsultModal"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>
</div>

<!-- Delete Account Confirmation Dialog -->
<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you wish to <strong>permanently</strong> delete your account?</p>
      </div>
      <div class="modal-footer">
        <button id="deleteAccount" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Insult Confirmation Dialog -->
<div class="modal fade" id="deleteInsultModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you wish to <strong>permanently</strong> delete this insult?</p>
      </div>
      <div class="modal-footer">
        <button id="deleteInsult" type="button" class="btn btn-danger">Delete</button>
        <button id="deleteInsultCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>